

#background_body{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}
#content {
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
}
#profile {
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000055;
    background-clip: content-box;
}
#picture{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#picture img {
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    padding: 30px;
}
#picture input{
    box-sizing: border-box;
    margin: 5px;
    font-size: calc(.3vh + .6vw);
    background-image: linear-gradient(to top, black, transparent );
    background-color: transparent;
    color: white;
    width: 80%;
}
#info{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(.8vh + .7vw);
}
#info span{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}
#profile:has(#info span:hover){
    transition-duration: .7s;
    background-color: #dbd8c735;
}
#profile:not(hover){
    transition-duration: .3s;
}
#picture input:hover{
    background-image: linear-gradient(to top, red, #e0ddc9);
    color: white;
}
#info span:hover{
    transition-duration: 1s;
    background-color: rgba(255, 0, 0, 0.307);
    border: 2px solid black;
}
#info span:not(hover){
    transition-duration: .5s;
}
