body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #dbd8c7;
    margin: 0px;
}
/* CONTENT */
#content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 5vw;
    width: 100%;
    height: 60%;
}
#main_content{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: calc(.85vh + 1.3vw);
    color: rgb(233, 233, 210);
}
.preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 30%;
    box-sizing: border-box;
    padding: 2vh 2vw;
    border-radius: 20px;
    border: 3px groove #dbd8c7;
    position: relative;
    background-color: black;
}
.preview img {
    width: 40%;
    height: 90%;
    box-sizing: border-box;
    padding: 10px;
    filter: saturate(0);
}
.preview p{
    width: 60%;
    color: black;
    height: auto;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    text-transform: capitalize;
}
#buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 20px;
}
#buttons a {
    font-size: calc(1.8vh + 2vw);
    text-decoration: none;
    color: black;
    border-radius: 50% 50% / 10% 20%;
    border: 3px solid;
    background-color: #dbd8c7;
    padding: 5px;
}

#buttons a:hover{
    transition-duration: 1s;
    background-color: black;
    color: red;
}
#buttons a:not(hover){
    transition-duration: .5s;
}

.preview:hover{
    transition-duration: 0.3s;
    background-color: #dbd8c7;
    border: 5px;
    width: 90%;
}

.preview:not(hover){
    transition-duration: 0.3s;
}
.preview:hover img, .preview:hover p{
 color: black;
 filter: saturate(1);
 transition-duration: 0.55s;
}


@media screen and (max-width: 600px) {
    #content {
        padding: 1vw;
    }
    #header {
        height: 20vh;
    }
    #footer {
        height: 20vh;
    }
    .preview{
        padding: 0;
        height: 20%;
    }
    .preview img{
        width: 60%;
    }
    .preview p{
        width: 40%;
    }
}