body{
    font-size: calc(.8vw + 1vh);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
#background{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}
#login{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 3%;
    border-radius: 5px;
    background-color: rgba(32, 32, 32, 0.7);
}
#login div{
    width: 100%;
}
#login span{
    height: 30%;
    width: 100%;
    font-size: calc(.5vw + .8vh);

}

.normal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: calc(5.5vh);
    color: #dbd8c7;
}

.error{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: calc(5.5vh);
    color: red;
}
#Content {
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#login input{
    background-color: rgb(255,255,255,0.5);
    border: 0px ;
    width: 100%;

}
#login input:hover{
    border: 1px solid #dbd8c7;
    background-color: white;
    transition-duration: 1s;
}
#login input:not(hover){
    transition-duration: 1s;
}
.hidden {
    display: none;
}
#internal_error{
    height: 20%;
    font-size: calc((.5vw + .3vh));
    color: red;
}
#sign{
    margin:2vh 0 2vh 0;
}

@media screen and (max-width:700px){
    #Content {
        width: 100%;
    }
    #login label{
        font-size: calc(.7vw + 1.2vh);
    }
    #login {
        width: 80%;
    }
}
