#content{
    height: fit-content;
}
body{
    background-color: #dbd8c7;
}
#SocialDex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}
#Pokemon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #00000077;
    border: 2px solid red;
}

#image {
    height: 100%;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image img {
    height: 80%;
    width: 80%;
}

#info {
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
 #normal{
    box-sizing: border-box;
    
    background-color: rgba(222, 209, 168, 0.783);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}
 #fighting{
    box-sizing: border-box;
    
    background-color: rgba(213, 122, 42, 0.525);
    color: white;
    border: 2px solid rgba(181, 32, 32, 0.718);
}
 #flying{
    box-sizing: border-box;
    
    background-color: rgba(158, 149, 240, 0.655);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
}
 #poison{
    box-sizing: border-box;
    
    background-color: rgba(188, 64, 219, 0.595);
    color: white;
    border: 2px solid rgb(203, 0, 44);
}
#ground{
    box-sizing: border-box;
    
    background-color: rgba(245, 195, 114, 0.743);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}
 #rock{
    box-sizing: border-box;
    
    background-color: rgba(112, 42, 2, 0.711);
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
 #bug{
    box-sizing: border-box;
    
    background-color: rgba(91, 133, 2, 0.768);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(132, 255, 0);
}
#ghost{
    box-sizing: border-box;
    
    background-color: rgba(74, 6, 189, 0.708);
    color: white;
    border: 2px solid rgba(127, 1, 173, 0.623);
}
#steel{
    box-sizing: border-box;
    
    background-color: rgba(146, 149, 149, 0.749);
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
 #fire{
    box-sizing: border-box;
    
    background-color: rgba(223, 56, 5, 0.648);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(208, 135, 0);
}
#grass{
    box-sizing: border-box;
    
    background-color: rgba(40, 113, 0, 0.892);
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
#electric{
    box-sizing: border-box;
    
    background-color: rgba(199, 173, 0, 0.736);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 238, 0);
}
#psychic{
    box-sizing: border-box;
    
    background-color: rgba(246, 127, 255, 0.766);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}
 #ice{
    box-sizing: border-box;
    
    background-color: rgba(108, 252, 252, 0.721);
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
 #dragon{
    box-sizing: border-box;
    
    background-color: rgba(64, 0, 239, 0.564);
    color: white;
    border: 2px solid rgb(255, 255, 255);
}
 #dark{
    box-sizing: border-box;
    
    background-color: rgba(31, 31, 31, 0.821);
    color: rgb(163, 108, 108);
    border: 2px solid rgb(163, 108, 108);
}
 #fairy{
    box-sizing: border-box;
    
    background-color: rgba(228, 165, 255, 0.884);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(182, 164, 190);
}
 #water{
    box-sizing: border-box;
    
    background-color: rgba(0, 255, 255, 0.331);
    color: white;
    border: 2px solid rgb(6, 6, 93);
}

.captured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.captured span{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}
#Errore{
    display: flex;
    color: red;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid red;
}
#seen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#seen div span{
    font-size: calc(.55vh + .7vw);
    box-sizing: border-box;
    padding: 5px;
}
#seen div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin: 20px;
    background-color: #00000077;
    box-sizing: border-box;
    padding: 20px;
    border: 2px red solid;
}
#search input[type="text"]{
    width: 70%;
}
@media screen and (max-width: 700px) {
    #seen div span{
        font-size: calc(.30vh + 0.7vw);
    }
    #search {
        width: 80%;
    }
}